* {
  margin: 0;
  padding: 0;
  }

#logo {
  background-image: url("../images/Group\ 27.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;

}

header,
main,
footer,
nav,
aside,
section,
div {
  display: block;

}

a {
  text-decoration: none;
}

#logo span {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  width: 154px;
  height: 33px;
  left: 78px;
  top: 40px;
  color: #222222;
  letter-spacing: 0.25em;
  margin-left: 38px;
}

.blue-block {
  background-color: #187bcd;
  margin-left: -40px;
  margin-right: 0px;
  margin-top: 50px;
  /* width: 1200px; */
  height: 555px;

}

.img-memoji {
  margin-top: 82px;
  margin-left: 38px;
}

.img-yellow {
  /* Rectangle 5 */
  position: absolute;
  width: 278px;
  height: 388px;
  left: 40px;
  top: 206px;
  background-image: url(../images/Rectangle\ 5.png);
}

.blue-block img {
  margin-left: 78px;
}

.text1-in-blue {
  position: absolute;
  width: 448px;
  height: 98px;
  left: 506px;
  top: 206px;

  font-family: 'Nunito', sans-serif;
  font-style: normal;

  font-size: 36px;
  line-height: 49px;
}

.text2-in-blue {
  position: absolute;
  width: 448px;
  height: 66px;
  left: 506px;
  top: 320px;

  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -1px;
  color: #222222;
}

#wrapper {
  margin-left: 40px;

}

.about-me {
  margin-top: 24px;
  color: #222222;
}

.below-about {
  margin-top: 24px;
  font-style: normal;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 140.62%;
}

.exercises {
  margin-top: 83px;
  color: #222222;
}

.exercises-block {
  margin-top: 24px;
  display: flex;
}

.ex1 {
  width: 200px;
  height: 264px;
  background: #FDEDE5;
  border-radius: 20px;
  margin-top: 24px;
}

.ex2 {

  width: 200px;
  height: 264px;
  background: #EBF1FF;
  border-radius: 20px;
  margin-top: 24px;
  margin-left: 24px;

}

.ex3 {

  width: 200px;
  height: 264px;
  background: #EBFFEC;
  border-radius: 20px;
  margin-left: 24px;
  margin-top: 24px;
}

.ex4 {

  width: 200px;
  height: 264px;
  background: #FFEBFC;
  border-radius: 20px;
  margin-left: 24px;
  margin-top: 24px;

}

.ex5 {
  width: 200px;
  height: 264px;
  background: #FFFEEB;
  border-radius: 20px;
  margin-left: 24px;
  margin-top: 24px;
}

.ex-pic {
  position: relative;
  padding-top: 25px;
  padding-left: 24px;
}

.ex-name {
  position: relative;
  margin: 25px 0px 0px 24px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
}

.ex-view {
  position: absolute;
  background: #FFFFFF;
  border-radius: 40px;
  margin-top: 32px;
  margin-left: 24px;
  height: 40px;
  width: 120px;
  align-items: center;
  display: flex;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  justify-content: center;
  color: #222222;
  /* position: relative; */
  /* position: relative;*/
  /* padding: 32px 56px 0px 24px;  */
}

.ex1 a section:hover {
  background-color: #171F46;
  color: #FDEDE5;
}

.ex2 a section:hover {
  background-color: #171F46;
  color: #EBF1FF;
}

.ex3 a section:hover {
  background-color: #171F46;
  color: #EBFFEC;
}

.ex4 a section:hover {
  background-color: #171F46;
  color: #FFEBFC;
}

.ex5 a section:hover {
  background-color: #171F46;
  color: #FFFEEB;
}

.Programming-Languages {
  margin-top: 40px;
  color: #222222;
}

.Programming-Languages-ul {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140.62%;
  margin-top: 24px;
  margin-left: 40px;
  margin-bottom: 40px;
}

body {
  background-color: #f2f2f2;
}

header {
  width: 100%;
  margin-top: 40px;
}

section ul {
  margin-left: 40px;
}

/* Footer */
footer {

  margin-top: 271px;
  padding: 0%;
  height: 301px;
  width: 100%;
  background-color: #dcdbdbc7;
}

footer section {
  margin: 0px 40px;
}

footer h3 {
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  nav-down: 32px;
  padding-top: 32px;
  margin-left: 40px;
}

footer p {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-left: 40px;
  margin-top: 16px;
  ;
  color: #8D8D8D;
}

.footer-Copyright {
  margin-top: 70px;
  margin-left: 40px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #8D8D8D;
}